body {
  font-family: system-ui;
  background: #CD5C5C;
  color: #ffcbb6;
  text-align: center;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #E9967A;
  font-size: 60px;
  font-family: system-ui;
  letter-spacing: 7px;
}